extends layout

block content
  h1= title
  p Welcome to '#{title}'
  ul
    li <a href='/nativeBanks'>nativeBanks</a>
    li <a href='/projects'>projects</a>
    li <a href='/suppliers'>suppliers</a>
      
