@import url("https://fonts.googleapis.com/css?family=Overpass:400,700");
body {
  background-image: linear-gradient(135deg, #A0D468 0%, #6EAF26 100%);
  border-radius: 15px 15px 0 15px 15px 0;
  height: 100vh;
  font: 14px/20px 'Overpass', sans-serif;
  position: relative;
}

.table-wrapper {
  background: #fff;
  box-shadow: 0 0 50px rgba(62, 105, 9, 0.75);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.table-wrapper > table {
  border-spacing: 0;
  overflow: hidden;
  width: 700px;
}
.table-wrapper > table th {
  border-bottom: 1px solid #A6DC67;
  font-weight: 700;
  padding: 13px 20px;
  text-align: left;
}
.table-wrapper > table tr.default {
  cursor: pointer;
  transition: all .2s ease;
}
.table-wrapper > table tr.default td {
  border-bottom: 1px solid #eef9e2;
  padding: 10px 20px;
}
.table-wrapper > table tr.toggle-row td {
  padding: 0;
}
.table-wrapper > table tr.default:hover {
  background: #f0f9e5;
}
.table-wrapper > table tr.active {
  background: #edf8e1;
}

.serial-num {
  color: rgba(51, 51, 51, 0.4);
  font-size: 16px;
}

.arrow {
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  cursor: pointer;
  float: right;
  height: 8px;
  margin: 0 auto;
  text-indent: -9999px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 8px;
}

.active .arrow {
  transform: rotate(225deg);
}

.sub-table-wrap {
  display: none;
  background: #fff;
}

.full-sub-table {
  background: #f9fdf5;
  padding: 24px 14px;
}
.full-sub-table .info-wrapper {
  display: inline-block;
  margin: 0;
  width: 24%;
}
.full-sub-table .info-wrapper dt {
  color: rgba(51, 51, 51, 0.7);
}
.full-sub-table .info-wrapper dd {
  margin: 0;
}
